body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    padding: 30px;
}

#detailsForm {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}

.form-row{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    text-align: left;
    flex-basis: 30%;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    flex-basis: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#passwordMatch {
    color: red;
    font-size: 14px;
}

#submitForm {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;

}

.submitForm:hover {
    background-color: #0056b3;
}